{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>TODO App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <style>
    body{
        min-height: 100vh;
        background: linear-gradient(135deg, #161515, #302e2e, #1a1919);
        color: white;
    }
</style>
    <nav class="navbar navbar-dark bg-dark mb-4 mb-4">
        <div class="container">
            <a class="navbar-brand" href="{% url 'todo:task_list' %}">TODO App</a>
            <a class = "btn btn-outline-secondary" href="{% url 'todo:task_create' %}">Add Task</a>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>